@charset "UTF-8";
#skip {
    position: relative;
}
#skip a:active,#skip a:focus{
    top: 0;
}

#wrap {
    width: 100%;
    text-align: center;
}
.header_top_line {
    width: 100%;
    height: 50px;
    background: #f9f9f9;
}
.council_site {
    line-height: 50px;
}
.council_site a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #01244a;
    padding: 0 12px 0 40px;
    background: url(../images/council.png) no-repeat center left 10px #fff;
}
.council_site a::after {
    content: '';
    background: url(../images/blank_ico.png) no-repeat center right;
    padding-right: 18px;
}
.bn_box {
    display: block;
    width: 251px;
    height: 50px;
    margin-left: 10px;
}
.right_area {
    width: 236px;
    height: 50px;
    line-height: 50px;
}
.login_area {
    width: 131px;
    height: 50px;
}
.login_area li:nth-child(1), .login_area li:nth-child(3) {
    padding-right: 5px;
}
.login_ico {
    width: 1px;
    height: 9px;
    margin: 23px 3px 0 0;
    background: url(../images/dotted_line.png) no-repeat center;
}
.language_area {
    width: 105px;
    height: 50px;
    position: relative;
}
.language_btn {
    position: relative;
    overflow: hidden;
    width: 100%;
    line-height: 50px;
    padding: 0 0 0 22px;
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/lang_ico.png) no-repeat center left;
    font-size: 14px;
    color: #01244a;
    font-family: inherit;
    text-align: left;
    z-index: 2;
    cursor: pointer;
}
.language_btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 27px;
    right: 10px;
    width: 8px;
    height: 4px;
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/lang_arrow.png) no-repeat;
}
.lang_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 45px;
    z-index: 1;
}
.lang_list ul {
    position: relative;
    overflow: hidden;
    padding: 4px 14px 12px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    z-index: 2;
}
.lang_list ul li {
    margin-top: 3px;
}
.lang_list ul li a {
    color: inherit;
    letter-spacing: 0em;
}
.lang_list button.close {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    color: #01244a;
    font-family: inherit;
    text-align: left;
    line-height: 20px;
    z-index: 3;
    background: none;
    cursor: pointer;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/* ===== //header_top_line ====== */

.header_logo_line {
    height: 140px;
}
.header_logo {
    width: 139px;
    height: 47px;
    margin-top: 47px;
    background: url(../images/logo.png);
}
.search_box_wrap {
    width: 635px;
    height: 50px;
    margin: 27px 0 0 215px;
    padding: 3px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.search_box_wrap::before {
    content: ''; 
    width: 600%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #394dad; background-image: linear-gradient(300deg, #97c9ff 0%, #3a9aba 20%, #394dad 40%, #97c9ff 60%, #3a9aba 80%, #394dad 100%); animation: move 6s linear infinite;}
@keyframes move {
    0% {left: 0;}
    50% {left: -500%;}
    100% {left: 0;}
}
.search_box {
    width: 629px;
    height: 44px;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 8px;
}
select {
    border: none;
}
input {
    border: none;
}
.collection {
    width: 130px;
    height: 34px;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    letter-spacing: -1px;
    margin: 6px 0 0 6px;
    padding: 0 20px 0 5px;
}
.keyword_input {
    width: 420px;
    height: 34px;
    padding: 0 10px;
    margin: 6px 0 0 6px;
    font-size: 15px;
    color: #b8b8b8;
    letter-spacing: .2px;
}
.search_btn {
    width: 39px;
    height: 38px;
    margin: 3px 0 0 4px;
    background: linear-gradient(300deg, #3a9aba, #394dad);
    border-radius: 7px;
}
.search_btn_ico {
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/glass.png) no-repeat;
    width: 21px;
    height: 21px;
    margin: 9px 9px;
}
.keyword_area {
    width: 635px;
    height: 26px;
    margin: 17px 0 0 215px;
    position: relative;
}
.keyword_area h5 {
    margin: 0 18px 0 22px;
    font-size: 16px;
    font-weight: 800;
    color: #000;
}
.keyword_slider_btn {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 1px;
    right: 17px;
}
.keyword_slider_btn .slider_prev {
    width: 5px;
    height: 10px;
    margin-top: 5px;
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/search_prev.png);
}
.keyword_slider_btn .slider_next {
    width: 5px;
    height: 10px;
    margin: 5px 7px 0 0;
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/search_next.png);
}
.keyword_list {
    max-width: 100%;
}
.keyword_list .keyword_wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 27px;
}
.keyword_wrap .list_wrap {
    width: 10215%;
    position: relative;
    transition-duration: 0s;
    transform: translateX(0px);
}
.keyword_wrap .list_wrap .list {
    position: relative;
    margin-right: 20px;
    display: inline-block;
}
.weather_box {
    width: 260px;
    height: 140px;
    margin: -78px 0 0 72px;
}
.weather_status {
    width: 130px;
    height: 57px;
    margin: 44px 0 0 10px;
    padding-left: 7px;
}
.weather_status .date {
    margin-left: 27px;
    margin-top: -3px;
    font-size: 15px;
    color: #333;
}
.weather_status .more, .air_status .more {
    width: 13px;
    height: 13px;
    margin: -1px 0 0 4px;
    background: url(../images/weather_btn.png);
}
.weather_status .thumb {
    width: 32px;
    height: 32px;
}
.weather_status .temp {
    margin: 16px 1px 3px 24px;
    color: #333;
}
.weather_status .temp em {
    font-style: normal;
}
.air_status {
    width: 92px;
    height: 57px;
    margin: 41px 0 0-5px;
    padding-left: 15px;
}
.air_status .finedust {
    font-size: 15px;
    color: #333;
}
.air_status .air_ico {
    width: 32px;
    height: 32px;
    margin: 2px 3px 0 0;
}
.air_status .air_txt  {
    margin-top: 16px;
    color: #32a1ff;
}
/* // header_logo_line */

.gnb_line {
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.gnb_area {
    text-align: center;
    line-height: 50px;
}
.gnb_area li {
    width: 191px;
}
.gnb_area>li:hover>a, .gnb_area>li:focus>a {
    color: #3a82b6;
}
.gnb_area>li:hover>a::after, .gnb_area>li:focus>a::after {
    content: ''; 
    position: absolute; 
    left: 50%; margin-left: -4px; 
    bottom: -5px; 
    width: 8px; 
    height: 8px; 
    background: #3a82b6; 
    border-radius: 50%; 
    z-index: 3;
}
.gnb_area li>a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.075em;
    position: relative;
}
.width100 {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    left: 0;
    top: 247px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}
.gnb_area li:hover .width100 {
    height: auto;
    padding: 20px 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.5);
    border-bottom: 1px solid #c9c9c9;
}
.m_width {
    width: 1400px;
    margin: 0 auto;
    padding: 30px 0;
}
.m_width>li {
    width: 216px;
    height: 231px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.gnb1 .m_width>li:nth-child(1),.gnb1 .m_width>li:nth-child(6) {
    margin-left: 0;
}
.gnb1 .m_width>li:nth-child(n+6) a {
    background: none;
}
.m_width>li>a {
    display: block;
    padding: 7px 15px;
    font-size: 15px;
    color: #000;
    text-align: left;
    border: 1px solid #c5c9d6;
    border-radius: 5px;
    line-height: 25px;
}
.m_width>li>ul {
    margin: 9px 0 15px;
}
.m_width>li>ul li {
    line-height: 24px;
}
.m_width>li>a:hover {
    color: #3a82b6; 
    border: 1px solid #3a82b6; 
    background: url(../images/gnb_arrow02.png) no-repeat center right 20px;}

.m_width>li>ul li a {
    display: block;
    font-size: 14px;
    color: #555;
    padding: 0 0 1px 35px;
    text-align: left;
    position: relative;
}
.m_width>li>ul li a:hover {
    color: #3a82b6; 
    text-decoration: underline;
}
.m_width>li>ul li a:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 10px;
    width: 3px;
    height: 3px;
    background: #c5c9d6;
    border-radius: 50%;
}
.gnb2 .m_width>li:nth-child(1),.gnb2 .m_width>li:nth-child(6),.gnb2 .m_width>li:nth-child(11) {
    margin-left: 0;
}
.gnb2 .m_width>li:nth-child(n+6):nth-child(-n+13) {
    height: auto;
}
.gnb2 .m_width>li:nth-child(1) a,.gnb2 .m_width>li:nth-child(2) a,.gnb2 .m_width>li:nth-child(n+5):nth-child(-n+10) a,.gnb2 .m_width>li:nth-child(12) a {
    background: none;
}
.gnb3 .m_width>li:nth-child(1),.gnb3 .m_width>li:nth-child(6) {
    margin-left: 0;
}
.gnb3 .m_width>li:nth-child(4) a,.gnb3 .m_width>li:nth-child(5) a,.gnb3 .m_width>li:nth-child(8) a {
    background: none;
}
.gnb3 .m_width>li:nth-child(n+6) {
    height: auto;
}
.gnb4 .m_width>li:nth-child(n+1):nth-child(-n+3) {
    height: 314px;
}
.gnb4 .m_width>li:nth-child(1) ul, .gnb4 .m_width>li:nth-child(2) ul {
    width: 50%;
}
.gnb4 .m_width>li:nth-child(1),.gnb4 .m_width>li:nth-child(4),.gnb4 .m_width>li:nth-child(9) {
    margin-left: 0;
}
.gnb4 .m_width>li:nth-child(1),.gnb4 .m_width>li:nth-child(2) {
    width: 462px;
}
.gnb4 .m_width>li:nth-child(n+4):nth-child(-n+8) {
    height: 139px;
}
.gnb4 .m_width>li:nth-child(n+4):nth-child(-n+6) a, .gnb4 .m_width>li:nth-child(12) a {
    background: none;
}
.gnb4 .m_width>li:nth-child(n+9) {
    height: auto;
}
.gnb5 .m_width>li:nth-child(n+1):nth-child(-n+4) {
    height: 314px;
}
.gnb5 .m_width>li:nth-child(1), .gnb5 .m_width>li:nth-child(5) {
    margin-left: 0;
}
.gnb5 .m_width>li:nth-child(2) {
    width: 462px;
}
.gnb5 .m_width>li:nth-child(2) ul {
    width: 50%;
}
.gnb5 .m_width>li:nth-child(n+5) {
    height: auto;
}
.gnb5 .m_width>li:nth-child(n+5):nth-child(-n+9) a {
    background: none;
}
.gnb5 .m_width>li:nth-child(n+5):nth-child(-n+9) a {
    background: none;
}
.gnb_area .gnb6 .width100 {
    background: #f4f5f9;
}
.gnb_area .gnb6 .m_width>li>a {
    display: block;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}
.gnb_area .gnb6 .m_width>li {
    width: 130px;
    height: 130px;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}
.gnb_area .gnb6 .m_width>li>a::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.gnb_area .gnb6 .m_width>li:nth-child(1)>a::before {
    background: url(../images/2021_gnb_ico01.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(2)>a::before {
    background: url(../images/2021_gnb_ico02.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(3)>a::before {
    background: url(../images/2021_gnb_ico13.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(4)>a::before {
    background: url(../images/2021_gnb_ico03.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(5)>a::before {
    background: url(../images/2021_gnb_ico04.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(6)>a::before {
    background: url(../images/2021_gnb_ico05.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(7)>a::before {
    background: url(../images/2021_gnb_ico06.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(8)>a::before {
    background: url(../images/2021_gnb_ico07.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(9)>a::before {
    background: url(../images/2021_gnb_ico08.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(10)>a::before {
    background: url(../images/2021_gnb_ico09.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(11)>a::before {
    background: url(../images/2021_gnb_ico10.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(12)>a::before {
    background: url(../images/2021_gnb_ico11.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(13)>a::before {
    background: url(../images/2021_gnb_ico12.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(14)>a::before {
    background: url(../images/2021_gnb_ico14.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(15)>a::before {
    background: url(../images/2021_gnb_ico15.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(16)>a::before {
    background: url(../images/2021_gnb_ico16.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(17)>a::before {
    background: url(../images/2021_gnb_ico17.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(18)>a::before {
    background: url(../images/2021_gnb_ico18.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(19)>a::before {
    background: url(../images/2021_gnb_ico19.png) no-repeat center;
}
.gnb_area .gnb6 .m_width>li:nth-child(20)>a::before {
    background: url(../images/2021_gnb_ico20.png) no-repeat center;
}
.main_sitemap a {
    width: 50px;
    height: 50px;
    padding: 0 2px;
}
.main_sitemap a span {
    display: inline-block;
    position: absolute;
    left: 15px;
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 4px;
    margin-top: 16px;
}
.main_sitemap a span:nth-child(1) {
    top: 0;
}
.main_sitemap a span:nth-child(2) {
    top: 7px;
}
.main_sitemap a span:nth-child(3) {
    top: 14px;
}
/* //gnb */

.group1 {
    width: 100%;
    padding-top: 30px;
}
.group1 .group1_area {
    height: 426px;
}
.group1_area .mainbn_area {
    width: 715px;
    height: 425px;
    box-shadow: 3px 3px 8px rgba(0,0,0,25%);
}
.mainbn_area .mainbn_box {
    width: 720px;
    height: 385px;
    position: relative;
}
.mainbn_box ul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.mainbn_box li img {
    width: 100%;
    height: 385px;
}
.main_bn_control {
    width: 700px;
    height: 42px;
    padding: 3px 10px;
    background: #394f79;
    position: absolute;
    top: 383px;
}
.main_bn_slider_btn {
    display: flex;
    width: 155px;
    height: 32px;
}
.main_bn_slider_btn li {
    font-size: 16px;
    color: #fff;
}
.main_bn_slider_counter {
    width: 78px;
    height: 30px;
    margin: 10px 8px 0 0;
}
.main_bn_list_btn a {
    display: block;
    text-indent: -999999px;
    width: 32px;
    height: 32px;
    background: url(../images/main_bn_list.png) no-repeat center;
    background-size: 17px;
    position: relative;
}

.main_bn_list_btn a::after {
    content: '';
    width: 28px;
    height: 28px;
    border: 2px solid #566d99;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.main_area {
    width: 450px;
    margin-left: 30px;
}
.mayor_visual {
    width: 590px;
    height: 302px;
    margin-left: 42px;
    padding: 34px 20px 0;
    border: 1px solid #dcdcdc;
    background: url(../images/mayor_bg.jpg) no-repeat;
    background-size: cover;
}
.mayor_tit img {
    margin-left: 320px;
}
.mayor_visual ul {
    margin-top: 11px;
    margin-right: 50px;
}
.mayor_visual ul li {
    border: 2px solid rgba(57,77,172,.5);
    border-radius: 50%;
    padding: 5px;
}
.mayor_visual ul li a {
    display: block;
    width: 90px;
    text-align: center;
    line-height: 90px;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    background-color: rgba(57,77,172,.9);
}
.mayor_link {
    width: 633px;
    margin-left: 42px;
    border: 1px solid #dcdcdc;
    border-top: none;
    border-bottom: none;
}
.mayor_link ul li {
    width: 211px;
    line-height: 22px;
    border-bottom: 1px solid #dcdcdc;
}
.mayor_link ul li a {
    display: block;
    padding: 10px 0 11px 15px;
    font-size: 15px;
    color: #333;
}
.mayor_ico01 {
    width: 28px;
    height: 22px;
    background: url(../images/ico_mayor_1.png) no-repeat center;
}
.mayor_link ul li a span::after {
    content: '';
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 0px;
    height: 8px;
    /* background: #0099ff; */
    opacity: .07;
}
.mayor_link ul li:nth-child(1):after, .mayor_link ul li:nth-child(3):after, .mayor_link ul li:nth-child(5):after {
    content: '';
    width: 1px;
    height: 15px;
    background: #dcdcdc;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
}
.mayor_ico02 {
    width: 28px;
    height: 22px;
    background: url(../images/ico_mayor_2.png) no-repeat center;
}
.mayor_ico03 {
    width: 28px;
    height: 22px;
    background: url(../images/ico_mayor_3.png) no-repeat center;
}
.mayor_ico04 {
    width: 28px;
    height: 22px;
    background: url(../images/ico_mayor_4.png) no-repeat center;
}
.mayor_ico05 {
    width: 28px;
    height: 22px;
    background: url(../images/ico_mayor_5.png) no-repeat center;
}
.mayor_ico06 {
    width: 28px;
    height: 22px;
    background: url(../images/ico_mayor_6.png) no-repeat center;
}
/* // group 1 */
.group2 {
    width: 100%;
    margin: 30px 0 30px 0;
}
.group2 #tabs{
    width: 737px;
    float: left;
    position: relative;
}
#tabs .notice_list{
    overflow: hidden;
}
#tabs .notice_list li{
    border: 1px solid #e7e7e7;
    padding: 25px 39px;
    cursor: pointer;
}

#tabs .notice_list li.ui-state-active{
    background-color: #1a56c5;
    color: #fff;
}
#tabs .notice_list li.ui-state-active a{
    color: #fff;
}
#tabs .notice_list li:first-child a {
    font-weight: bold;
}
.news_list {
    width: 692px;
    top: 57px;
    left: 0;
}
.news_list li {
    margin-top: 15px;
    width: 685px;
}
.tab_menu .cont_area .cont{display:none; position:absolute;}
.date_rbt {
    width: 81px;
    height: 60px;
    line-height: 31px;
    padding: 9px;
    border: 4px solid #ebebef;
    text-align: center;
    color: #bebebe;
    font-size: 16px;
}
.date_rbt strong {
    display: block;
    font-size: 35px;
    line-height: 35px;
    color: #000;
}
.news_tit {
    width: 570px;
    height: 58px;
}
.news_tit a {
    padding-left: 15px;
}
.noticelist_area a {
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
}
.txt_tit {
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt_con {
    font-size: 17px;
    color: #666;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt_sub {
    font-size: 17px;
    color: #000;
    line-height: 28px;
}
.txt_sub::before {
    content: '';
    background: url(../images/notice_dot.png) no-repeat center;
    width: 7px;
    padding-right: 15px;
}
.txt_date {
    font-size: 17px;
    color: #c0c0c1;
    padding-right: 2px;
    line-height: 28px;
}
.noticethumb_area {
    width: 650px;
    margin-left: 1px;
}
.info_area {
    margin-bottom: 15px;
}
.info_area li {
    width: calc(25% - 8.5px);
    margin-left: 11px;
    background: #ebebef;
    border-radius: 8px;
    padding: 2px;
    box-sizing: border-box;
    transition: .3s;
}
.info_area li:hover {
    font-weight: bold; 
    background: #395ea2;
}
.info_area li:nth-child(1) {
    margin-left: 0;
}
.info_area li a:hover {
    color: #395ea2;
}
.info_area a:hover::before {
    transform: rotateY(360deg); 
    transition: transform .6s ease-in-out;
}
.info_area a {
    display: block;
    padding: 7px 0 6px;
    border-radius: 5px;
    color: #333;
    text-align: center;
    font-size: 15px;
    background: #fff;
}
.info_area a::before {
    content: '';
    display: block;
    margin: 0 auto 8px;
}
.info_area li:nth-child(1) a::before {
    background: url(../images/info_icon_member.png) center;
    width: 40px;
    height: 40px;
}
.info_area li:nth-child(2) a::before {
    background: url(../images/info_icon_build.png) center;
    width: 40px;
    height: 40px;
}
.info_area li:nth-child(3) a::before {
    background: url(../images/info_ico02.png) center;
    width: 40px;
    height: 40px;
}
.info_area li:nth-child(4) a::before {
    background: url(../images/info_icon_service.png) center;
    width: 44px;
    height: 40px;
}
.info_area li:last-child {
    background: linear-gradient(to bottom, #24bdff 50%, #1a91ff 50%);
    background-color: #24bdff;
}
.info_area li:last-child a {
    font-weight: bold;
}
.noticebn_area {
    width: 650px;
}
.noticebn_box {
    width: 651px;
    height: 195px;
    position: relative;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    /* background: #394f79; */
    border-radius: 15px 15px 0 0;
    margin-top: 7px;
}
.notice_list li:last-child::after{
    content: '';
    background: url(../images/interlock_ico.png) no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: cover;
}
.noticebn_box ul {
    width: 100%;
    height: 195px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.noticebn_box li {
    /* width: 100%; */
    width: 448px;
    height: 195px;
    /* position: absolute; */
    top: 0;
    left: 95px;
    overflow: hidden;
}
.noticebn_box li img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.noticebn_control {
    width: 630px;
    height: 32px;
    padding: 3px 10px;
    border: 1px solid #eaeaea;
    position: relative;
}
.noticebn_control h5 {
    margin-right: 10px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    line-height: 32px;
}
.noticebn_slider {
    width: 146px;
    height: 30px;
    margin-top: 4px;
}
.noticebn_slider a {
    font-size: 16px;
    color: #000;
}
.bx-prev{
    position: absolute;
    left: 166px;
    top: 206px;
}
.bx-next{
    position: absolute;
    left: 206px;
    top: 206px;
}
.bx-pager {
    display: none;
}
.noticebn_slider_counter {
    width: 50px;
    height: 30px;
    margin-right: 15px;
}
.noticebn_list_btn {
    display: block;
    text-indent: -999999px;
    width: 30px;
    height: 30px;
    background-size: 17px;
    background: url(../images/notice_bn_list.png) no-repeat center;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}

/* // group2 */

.group3 {
    width: 100%;
    padding: 30px 0;
    background: #28667d;
}
.service_area h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.serviceslider_btn {
    width: 98px;
}
.serviceslider_counter {
    margin: 3px 10px 0 0;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.01em;
}
.serviceslider_counter span {
    font-size: 16px;
    font-weight: 600;
}
.service_box {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 115px;
}
.service_inner {
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
    left: 100%;
}
.service_inner:first-child {
    left: 0;
}
.service_inner li {
    width: 272px;
    margin-right: 10px;
    padding: 1px 0;
}
.service_inner li:nth-child(n+1):nth-child(-n+5) {
    border-top: 1px solid #4c8594;
    border-bottom: 1px solid #4c8594;
}
.service_inner li:nth-child(5), .service_inner li:nth-child(10) {
    margin-right: 0;
}
.service_inner li:nth-child(n+6):nth-child(-n+10) {
    border-bottom: 1px solid #4c8594;
}
.service_inner li a {
    display: block;
    font-size: 16px;
    color: #fff;
    letter-spacing: -1.5px;
    line-height: 54px;
    position: relative;
}
.service_inner li a:hover::before {
    width: 100%;
}
.service_inner li a::before {
    content: '';
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s ease-in-out;
}
.service_inner li a:hover::after {
    animation: bounce01 .3s ease-in-out 2 alternate;}
    @keyframes bounce01 {
        100% {transform: translateX(-10px);
        }
}
.service_inner li a::after {
    content: '';
    width: 16px;
    height: 10px;
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/main/service_btn.png);
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
}
.service_ico01 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180317507.png);
}
.service_ico02 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180351774.png);
}
.service_ico03 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180456410.png);
}
.service_ico04 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180435962.png);
}
.service_ico05 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180412774.png);
}
.service_ico06 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180557003.png)
}
.service_ico07 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180615706.png);
}
.service_ico08 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20211229150401057.png);
}
.service_ico09 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20201109180726894.png);
}
.service_inner li a span.blank::after {
    content: '';
    background: url(../images/service_blank_ico.png) no-repeat center;
    padding-right: 22px;
}
.service_ico10 {
    width: 31px;
    height: 31px;
    margin: 10px 5px 10px 10px;
    background: url(../images/20210805130737889.png);
}

/* // group3 */

.group4 {
    width: 100%;
    margin-top: 30px;
}
.event_tit h5 {
    font-size: 20px;
    color: #000;
}
.event_more {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
}
.event_list {
    margin-top: 20px;
}
.event_box {
    width: calc(24% - 15px);
    margin-right: 20px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.event_box_line {
    width: 320px;
    height: 294px;
    position: relative;
}
.event_box_line .top {
    width: 0;
    height: 2px;
    background: #395ea2;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
}
.event_box_line .right {
    width: 2px;
    height: 0;
    background: #395ea2;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s;
}
.event_box_line .bottom {
    width: 0;
    height: 2px;
    background: #395ea2;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .5s;
}
.event_box_line .left {
    width: 2px;
    height: 0;
    background: #395ea2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.event_box .event_image {
    width: 320px;
    height: 212px;
}
.event_box:nth-child(1) .event_image {
    background: url(../images/Thum_20220314174524626.png) no-repeat;
    background-size: 320px 212px;
}
.event_label03 {
    margin: 10px 0 0 10px;
    padding: 2px 10px;
    font-size: 15px;
    color: #666;
    font-weight: 600;
    border: 1px solid #666;
    background: #fff;
    line-height: 25px;
}
.event_txt {
    width: 243px;
    height: 70px;
    padding: 10px 38px;
    border-top: 1px solid #e8e8e8;
}
.event_txt_tit {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    height: 45px;
}
.event_txt_date {
    font-size: 16px;
    color: #999;
    text-align: center;
}
.event_box:nth-child(2) .event_image {
    background: url(../images/Thum_20220314152349477.png) no-repeat;
    background-size: 320px 212px;
}
.event_box:nth-child(2) .event_label03 {
    margin: 11px 0 0 10px;
    padding: 2px 10px;
    font-size: 15px;
    color: #666;
    font-weight: 600;
    border: 1px solid #666;
    background: #fff;
    line-height: 25px;
}
.event_box:nth-child(3) .event_image {
    background: url(../images/Thum_20220314094318174.png) no-repeat;
    background-size: cover;
}
.event_label01 {
    margin: 10px 0 0 10px;
    padding: 2px 10px;
    font-size: 15px;
    color: #3f5f9c;
    font-weight: 600;
    border: 1px solid #3f5f9c;
    background: #fff;
    line-height: 25px;
}
.event_box:nth-child(4) .event_image {
    background: url(../images/Thum_20220314091850565.png) no-repeat;
    background-size: 320px 212px;
}
.event_box:nth-child(4) .event_label03 {
    margin: 10px 0 0 10px;
    padding: 2px 10px;
    font-size: 15px;
    color: #666;
    font-weight: 600;
    border: 1px solid #666;
    background: #fff;
    line-height: 25px;
}
.event_box:hover .top {width: 100%;}
.event_box:hover .right {height: 100%;}
.event_box:hover .bottom {width: 100%;}
.event_box:hover .left {height: 100%;}
.event_box:hover {
    box-shadow: 0 7px 8px rgba(0, 0, 0, .1);
}
.event_box:hover .event_txt_tit {
    text-decoration: underline;
}

/* // group4 */

.group5 {
    width: 100%;
    margin: 40px 0 30px;
}
.information_area {
    width: 50%;
    padding: 25px 32px 56px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.information_tit {
    height: 40px;
    border-bottom: 2px solid #333;
    width: 100%;
}
.information_tit h5 {
    font-size: 20px;
    color: #000;
}
.information_tit p {
    margin: 5px 0 0 10px;
    padding-left: 8px;
    font-size: 16px;
    color: #666;
    position: relative;
}
.information_tit p::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #66d7ff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
}
.information_area ul {
    margin-top: 40px;
}
.information_area li {
    width: 112px;
    margin: 0 30px 25px 20px;
}
.information_area li:nth-child(1), .information_area li:nth-child(5) {
    margin-left: 0;
}
.information_area li:nth-child(n+5):nth-child(-n+8) {
    margin-bottom: 0;
}
.information_area li a {
    display: block;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-align: center;
}
.information_area li a:hover {
    text-decoration: underline;
}
.information_area li a:hover .information_ico {
    transform: rotateY(360deg); 
    transition: transform .6s ease-in-out;
}
.information_ico {
    width: 94px;
    height: 94px;
    margin: 0 9px 15px;
    border-radius: 50%;
}
.information_area li:nth-child(1) .information_ico {
    background: #f3f5fe url(../images/information_ico01.png) no-repeat center;
}
.information_area li:nth-child(2) .information_ico {
    background: #f3f5fe url(../images/information_ico02.png) no-repeat center;
}
.information_area li:nth-child(3) .information_ico {
    background: #f3f5fe url(../images/information_ico03.png) no-repeat center;
}
.information_area li:nth-child(4) .information_ico {
    background: #f3f5fe url(../images/information_ico04.png) no-repeat center;
}
.information_area li:nth-child(5) .information_ico {
    background: #f3f5fe url(../images/information_ico05.png) no-repeat center;
}
.information_area li:nth-child(6) .information_ico {
    background: #f3f5fe url(../images/information_ico06.png) no-repeat center;
}
.information_area li:nth-child(7) .information_ico {
    background: #f3f5fe url(../images/information_ico07.png) no-repeat center;
}
.information_area li:nth-child(8) .information_ico {
    background: #f3f5fe url(../images/information_ico08.png) no-repeat center;
}
.sns_area {
    width: 46%;
    padding: 20px 35px 10px;
    border: 1px solid #e4e4e4;
    border-left: none;
    box-sizing: border-box;
}
.sns_tit {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}
.sns_tit h5{
    font-size: 20px;
    line-height: 31px;
}
/* .sns_slider_btn {
    width: 75px;
    margin: 0px 0 0 10px;
}
.sns_slider_btn .slider_prev {
    width: 9px;
    height: 15px;
    margin: 0 10px 0 5px;
    background: url(../images/notice_bn_prev.png);
}
.sns_slider_btn .slider_stop {
    width: 12px;
    height: 14px;
    margin: 0 10px 0 5px;
    line-height: 14px;
}
.sns_slider_btn .slider_next {
    width: 9px;
    height: 15px;
    margin: 0 10px 0 5px;
    background: url(../images/notice_bn_next.png);
} */
.sns_ico {
    width: 234px;
}
.sns_ico_img {
    width: 34px;
    height: 34px;
    margin-left: 5px;
}
.sns_ico li:nth-child(1) .sns_ico_img {
    background: url(../images/sns_ico01.png);
}
.sns_ico li:nth-child(2) .sns_ico_img {
    background: url(../images/sns_ico02.png);
}
.sns_ico li:nth-child(3) .sns_ico_img {
    background: url(../images/sns_ico03.png);
}
.sns_ico li:nth-child(4) .sns_ico_img {
    background: url(../images/sns_ico04.png);
}
.sns_ico li:nth-child(5) .sns_ico_img {
    background: url(../images/sns_ico05.png);
}
.sns_ico li:nth-child(6) .sns_ico_img {
    background: url(../images/sns_ico06.png);
}
.snsbn_box {
    width: 528px;
    height: 375px;
    overflow: hidden;
    position: relative;
}
.snsbn_box ul {
    width: 100%;
    height: 324px;
    position: absolute;
    top: 0;
}
.snsbn_box li {
    width: 264px;
    margin-top: 35px;
}
.snsbn_box li a{
    display: block;
    margin: 0 20px;
    position: relative;
}
.sns_img {
    width: 242px;
    height: 140px;
    position: relative;
    background-size: 242px 140px !important;
}
.snsbn_box .list1 li:nth-child(1) .sns_img {
    background: url(https://www.seongnam.go.kr/attach/mainSns/20220227193021_B.jpg) no-repeat;
}
.snsbn_box ul li .sns_img::after {
    content: '';
    width: 34px;
    height: 34px;
    position: absolute;
    top: -17px;
    left: 5px;
}
.sns_txt {
    width: 242px;
    padding: 5px;
    position: absolute;
    top: 114px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.snsbn_box .list1 li:nth-child(1) .sns_img::after {
    background: url(../images/sns_ico05.png);
}
.snsbn_box .list1 li:nth-child(2) .sns_img {
    background: url(../images/20220314193212_V.jpg);
}
.snsbn_box .list1 li:nth-child(2) .sns_img::after {
    background: url(../images/sns_ico01.png);
}
.snsbn_box .list1 li:nth-child(3) .sns_img {
    background: url(../images/20211212090859_U.jpg);
}
.snsbn_box .list1 li:nth-child(3) .sns_img::after {
    background: url(../images/sns_ico03.png);
}
.snsbn_box .list1 li:nth-child(4) .sns_img {
    background: url(../images/20211112103107_F.jpg);
}
.snsbn_box .list1 li:nth-child(4) .sns_img::after {
    background: url(../images/sns_ico02.png);
}
.snsbn_box a:hover .sns_img::after {
    animation: bounce02 .3s ease-in-out 2 alternate;}
@keyframes bounce02 {
    100% {transform: translateY(-10px);}
}
.snsbn_box a:hover .sns_txt {
    text-decoration: underline;
}
/* //group5 */
.group6 {
    width: 100%;
    padding: 30px 0 40px;
    background: #0b264e;
}
.important_area {
    height: 479px;
}
.important_area h5 {
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #22405e;
}
.important_area dl {
    width: 1400px;
    border-bottom: 1px solid #22405e;
}
.important_area .dt_01 {
    background: url(../images/important01.png) no-repeat center left 30px;
    width: 180px;
    line-height: 64px;
}
.important_area dl dd {
    width: 1020px;
    padding: 16px 0;
}
.important_area dl dt span {
    display: block;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    padding: 0 21px 0 75px;
    text-align: right;
    background: url(../images/important_arrow.png) no-repeat center right;
}
.important_area dl dd a {
    font-size: 17px;
    color: #eceef4;
    line-height: 32px;
    margin: 0 17px;
    position: relative;
}
.important_area dl dd li a::before {
    content: '';
    width: 1px;
    height: 15px;
    background: #354f75;
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -7px;
}
.important_area dl dd li a span::before {
    content: '';
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width .2s ease-in-out;
}
.important_area dl dd li a span.blank::after {
    content: '';
    background: url(../images/importan_blank_ico.png) no-repeat center top 6px;
    padding-right: 18px;
}
.important_area .dt_02 {
    background: url(../images/important02.png) no-repeat center left 30px;
    width: 180px;
    line-height: 64px;
}
.important_area .dt_03 {
    background: url(../images/important03.png) no-repeat center left 30px;
    width: 180px;
    line-height: 96px;
}
.important_area dl dd li a.orange {
    color: #faa635;
}
.important_area dl dd li a.blue {
    color: #91d4ff;
}
.important_area dl dd li a.green {
    color: #2be0da;
}
.important_area dl dd li a span:hover {color: #fff}

.important_area dl dd li a.blue span:hover {
    color: #53bafd
}
.important_area dl dd li a.orange span:hover {
    color: #ff6600
}
.important_area dl dd li a.green span:hover {
    color: #24bdb8
}
.important_area .dt_04 {
    background: url(../images/important04.png) no-repeat center left 30px;
    width: 180px;
    line-height: 96px;
}
.important_area .dt_05 {
    background: url(../images/important05.png) no-repeat center left 30px;
    width: 180px;
    line-height: 96px;
}
.important_area dl dd li a.blue span::before {background: #91d4ff;}
.important_area dl dd li a.orange span::before {background: #faa635;}
.important_area dl dd li a.green span::before {background: #2be0da;}
.important_area dl dd li a span:hover::before {width: 100%;}
/* //group6 */

.footer_inner_line {
    background: #f9f9f9;
}
.footer_inner {
    padding: 25px 0 25px 30px;
}
.footer_fnb {
    width: 1170px;
    margin-bottom: 10px;
}
.footer_fnb li {
    margin-right: 15px;
    padding-right: 18px;
    line-height: 30px;
    position: relative;
}
.footer_fnb li a {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.footer_fnb li a em {
    color: #1a56c5;
    font-style: normal;
}
.footer_fnb li::after {
    content: '';
    width: 1px;
    height: 13px;
    background: #d2d2d2;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}
.addr_box {
    width: 100%;
    padding-left: 414px;
}
.addr {
    width: 380px;
    margin-top: 14px;
}
.addr address {
    padding-right: 17px;
    font-size: 15px;
    color: #333;
    font-style: normal;
    position: relative;
}
.addr address::after {
    content: '';
    width: 1px;
    height: 13px;
    background: #d2d2d2;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}
.addr cite {
    margin-top: 5px;
    font-size: 15px;
    color: #999;
    letter-spacing: 0;
    font-style: normal;
}
.mark_list {
    position: absolute;
    top: -15px;
    left: 851px;
}
.mark_area{
    display: flex;
    justify-content: center;
    padding: 13px 679px;
}
#back-to-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background: #6a83b5;
    width: 40px;
    height: 20px;
    padding: 10px;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all .5s;
    border-radius: 50px;
}
#back-to-top.visible {
    opacity: 1;
}
.counter {
    display: none;
}