#brandVisual{position: relative;width: 720px;height:425px;}
#brandVisual .visual_slide{width: 100%; height:100%;}
#brandVisual .visual_slide li{position:absolute;background-repeat: no-repeat;background-position:50% 0;width:100%;height:100%;}
#brandVisual .visual_slide li a{display: none; text-indent:-9999px;}
#brandVisual .visual_0{background-image:url(../images/bn_img.jpg);display:block;}
#brandVisual .visual_1{background-image:url(../images/bn_img1.jpg);}
#brandVisual .visual_2{background-image:url(../images/20220314104030066.png);}
#brandVisual .visual_3{background-image:url(../images/20220308085335490.jpg);}
#brandVisual .visual_4{background-image:url(../images/20220308094005745.jpg);}
#brandVisual .visual_5{background-image:url(../images/20220124102036074.jpg);}
#brandVisual .visual_6{background-image:url(../images/20220223130511073.png);}
#brandVisual .visual_7{background-image:url(../images/20220218110838696.png);}
#brandVisual .visual_8{background-image:url(../images/20220221161253099.jpg);}
#brandVisual .visual_9{background-image:url(../images/20220224084420008.jpg);}
#brandVisual .main_bn_slider_btn .slider_prev,#brandVisual .main_bn_slider_btn .slider_next{cursor: pointer;}
.hidden{display:block; overflow: hidden; width:0; height: 0; line-height: 0; text-indent: -99999px;}
#brandVisual .buttonList:after{content:''; display:block; clear:both;}
#brandVisual .buttonList>li.on{background-position:0 0;}