* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialised;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.tab-wrapper {
	width: 960px;
	margin: auto;
}
.tab-menu {
	padding-left: 0;
}
.tab-menu li {
	float: left;
	list-style: none;
	background: #ebebeb;
	margin-right: 10px;
}
.tab-menu:after {
	content: "";
	display: block;
	clear: both;
}
.tab-menu li a {
	color: #999;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 27px;
	text-decoration: none;
	display: block;
	padding: 0 20px;
}
#tab-content {
	min-height: 300px;
}
.notice_tab {
    width: 720px;
    position: relative;
}
.notice_tab .tab_menu {
    width: 133px;
    border: 1px solid #dcdcdc;
    border-right: none;
}
.notice_tab .tab_menu.on {
    background: #395ea2;
    border: 1px solid #395ea3 !important;
    border-right: none !important;
    box-shadow: 0 5px 6px rgb(50 98 185 / 20%);
}
.notice_tab .tab_menu:first-child {
    width: 128px;
}
.notice_tab .tab_menu.on a {
    color: #fff;
    cursor: default;
}
.noticelist_area a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
}
.notice_tab_more {
    width: 53px;
    height: 55px;
    border: 1px solid #dcdcdc;
    background: #f7f7f7 url(../images/notice_more.png) no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
}
.news_list {
    width: 720px;
    position: absolute;
    top: 57px;
    left: 0;
}
.news_list li {
    margin-top: 15px;
    width: 720px;
}
.news_list li a:hover p:nth-child(1) {
    color: #3262b9;
}
.date_rbt {
    width: 104px;
    height: 61px;
    line-height: 31px;
    padding: 9px;
    border: 4px solid #ebebef;
    text-align: center;
    color: #bebebe;
    font-size: 16px;
}
.date_rbt strong {
    display: block;
    font-size: 35px;
    line-height: 35px;
    color: #000;
}
.news_tit {
    width: 590px;
    height: 58px;
    padding-top: 17px;
}
.news_tit a {
    padding-left: 15px;
}
.noticelist_area a {
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
}
.txt_tit {
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt_con {
    font-size: 17px;
    color: #666;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt_sub {
    font-size: 17px;
    color: #000;
    line-height: 28px;
}
.txt_sub::before {
    content: '';
    background: url(../images/notice_dot.png) no-repeat center;
    width: 7px;
    padding-right: 15px;
}
.txt_date {
    font-size: 17px;
    color: #c0c0c1;
    padding-right: 2px;
    line-height: 28px;
}
.tab_menu:last-child a.blank::after {
    content: '';
    padding-right: 23px;
    background: url(https://www.seongnam.go.kr/include/cmm_new/image/main/interlock_ico.png) no-repeat center;
    margin-left: 4px;
}
.noticethumb_area {
    width: 650px;
    margin-left: 30px;
}


/* 지시사항 
tab-content의 내용들을 한곳에 모두 겹쳐 놓고 모두 나타나지 않도록 display를 none으로 설정합니다.
클릭된 메뉴글씨는 검은색으로 나타나도록 클래스명 active에 설정합니다.
*/
.tab-menu li a.active {
	background: #000;
	color: #fff;
}
#tab-content{
	position: relative;
}
#tabs-1,#tabs-2,#tabs-3 {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}